/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03-Apr-2023, 10:43:13 pm
    Author     : vinaychowdarykatta
*/

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}